@use "sass:math";

@function strip-unit-safe($value) {
  @return math.div($value, 1 * 1px);
}

@function myclamp($min, $value, $screenStart, $screenEnd, $unit: vw) {
  @if math.unit($min) !=
    "px" or
    math.unit($value) !=
    "px" or
    math.unit($screenStart) !=
    "px" or
    math.unit($screenEnd) !=
    "px"
  {
    @error "All values must be in px";
  }

  $is-negative: $value < 0;

  $min-num: strip-unit-safe($min);
  $val-num: abs(strip-unit-safe($value));
  $screenStart-num: strip-unit-safe($screenStart);
  $screenEnd-num: strip-unit-safe($screenEnd);

  $vw: math.div($val-num, $screenStart-num) * 100;
  $vw-rounded: math.div(round($vw * 10000), 10000);
  $max: round(math.div($val-num, $screenStart-num) * $screenEnd-num);

  $clamp-value: clamp(#{$min}, #{$vw-rounded}#{$unit}, #{$max}px);

  @return if($is-negative, calc(-1 * #{$clamp-value}), #{$clamp-value});
}
