:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;

  --black: #292b2d;
  --red: #fc142c;
  --invalid: #fc142c;
  --grey-light: #f5f5f7;
  --grey: #999a9b;
  --white: #ffffff;
  --green: #4cb210;
  --orange: #ffa200;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
  color: var(--black);
  background: var(--grey-light);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
button,
input,
textarea {
  font-family: var(--regular);
  font-weight: 400;
  color: inherit;
}

img {
  display: block;
  object-fit: cover;
  user-select: none;
}

button {
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  &:disabled {
    cursor: auto;
    pointer-events: none;
    opacity: 0.3;
  }
}

.body {
  overflow-x: hidden;
  overflow-y: auto;
  &.locked {
    overflow-y: hidden;
  }
}
