.Button {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  border-radius: 60px;
  padding: 10px 60px 10px 20px;
  min-height: 60px;
  color: var(--white);
  background: var(--black);
  transition:
    background-color 0.3s,
    color 0.3s,
    transform 0.3s,
    opacity 0.3s;
  border: none;
  outline: none;
  opacity: 1;
  cursor: pointer;
  user-select: none;
  span {
    display: inline-block;
    text-align: left;
    flex: 1;
    font-family: var(--roboto-medium);
    font-size: 24px;
    line-height: 1;
    pointer-events: none;
    transition: color 0.3s;
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    &.Loading {
      opacity: 1;
    }
  }
  &:hover {
    background: rgb(48, 173, 64);
  }
}

.Small {
  min-height: 48px;
  span {
    font-size: 16px;
  }
  .Icon {
    width: 48px;
    height: 48px;
  }
}

.Red {
  background: var(--invalid);
  &:hover,
  &:focus {
    background: var(--invalid);
  }
}

.White {
  background: var(--white);
  span {
    color: var(--black);
  }
  .Icon {
    color: var(--black);
  }

  &:hover,
  &:focus {
    background: var(--black);
    span {
      color: var(--white);
    }
    .Icon {
      color: var(--white);
    }
  }
}

.Orange {
  background: var(--orange);
  color: var(--white);
  &:hover,
  &:focus {
    background: var(--green);
    color: var(--white);
  }
}

.Green {
  background: var(--green);
  &:hover,
  &:focus {
    background: var(--green);
  }
}

.Full {
  width: 100%;
}

.Icon {
  display: flex;
  position: absolute;
  width: 60px;
  height: 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  right: 0px;
  top: 0px;
}

.Loading {
  pointer-events: none;
  svg {
    opacity: 0;
  }
  span {
    opacity: 1;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    border-radius: 20px;
    border-left: 2px solid var(--white);
    border-top: 2px solid var(--white);
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    animation: spin 0.3s linear infinite;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
