@use './../../styles/index' as *;

.Header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: sticky;
  width: 280px;
  height: auto;
  min-height: 100svh;
  left: 0px;
  top: 0px;
  z-index: 8888;
  background: var(--white);
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.05);
  border-right: 1px solid var(--hr);

  &.Minify {
    .SideButton {
      transform: translate(100%, 0%);
    }
    .Logo {
      p {
        display: none;
      }
    }
    .Inner {
      &.Btn {
        display: flex;
        justify-content: center;
        padding: 14px 0px;
        max-height: 69px;
      }
    }
  }
}

.Inner {
  display: block;
  width: 100%;

  padding: 14px;
  &.Bt {
    border-top: 1px solid var(--hr);
  }
  &.Bb {
    border-bottom: 1px solid var(--hr);
  }
  &.Btn {
    padding-right: 68px;
    max-height: 69px;
  }
}

.Logo {
  display: inline-flex;
  width: auto;
  position: relative;
  overflow: hidden;
  justify-content: center;
  gap: 4px;
  height: 40px;
  svg {
    width: 46px;
    flex-shrink: 0;
  }

  p {
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.04em;
  }
}

.ProfileButtons {
  display: block;
  position: relative;
  width: 100%;
  margin-top: auto;
}

.SideButton {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
  padding: 20px;
  height: 68px;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--black);
  transition: color 0.3s, transform 0.3s;
  transform: translate(0%, 0%);
  @media (hover: hover) {
    &:hover {
      color: var(--orange);
    }
  }
}
