@use "./../../styles/index" as *;

.Header {
  width: 220px;
  height: calc(100% - 40px);
  display: flex;
  position: fixed;
  left: 20px;
  top: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 30px;
  z-index: 20;
  pointer-events: none;
  gap: 20px;
}

.Logo {
  display: flex;
  position: relative;
  pointer-events: all;
  justify-content: center;
  gap: 4px;
  width: 100%;
  border-bottom: 1px solid var(--grey-light);
  svg {
    width: 100%;
  }
}
