@use "./../../styles/index" as *;

.Header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  position: fixed;
  width: 220px;
  height: calc(100% - 40px);
  min-height: 460px;
  left: 20px;
  top: 20px;
  padding: 20px;
  z-index: 8888;
  background: var(--white);
  border-radius: 20px;
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.05);
}

.Logo {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 4px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--hr);
  svg {
    width: 100%;
  }
}

.ProfileButtons {
  display: block;
  position: relative;
  width: 100%;
  margin-top: auto;
}
