.Fieldset {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  border: none;

  &.Cal1 > * {
    width: 100%;
  }

  &.Cal2 > * {
    width: calc((100% - 10px) / 2);
  }

  &.Cal3 > * {
    width: calc((100% - 20px) / 3);
  }

  &.Cal4 > * {
    width: calc((100% - 30px) / 4);
  }

  &.Cal5 > * {
    width: calc((100% - 40px) / 5);
  }

  @media (max-width: 767px) {
    &.Cal1,
    &.Cal2,
    &.Cal3,
    &.Cal4,
    &.Cal5 {
      > * {
        width: 100%;
      }
    }
  }
}

.Legend {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
}
