.Input {
  width: 100%;
  height: 48px;
  border: 1px solid var(--grey);
  border-radius: 48px;
  outline: none;
  padding: 0px 20px;
  transition: 0.3s;
  font-size: 14px;
  font-family: var(--light);
  color: var(--black);
  font-weight: 300;
  &:focus {
    border: 1px solid var(--orange);
    &::placeholder {
      opacity: 0;
    }
  }

  &.Invalid {
    border: 1px solid var(--invalid);
    &:focus {
      border: 1px solid var(--invalid);
    }
  }

  &::placeholder {
    opacity: 1;
    transition: 0.3s;
    color: var(--grey);
    font-family: var(--light);
    font-weight: 300;
  }
}
