.Form {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
  margin-top: 6px;

  label {
    transition: opacity 0.3s;
  }

  &.Loading {
    pointer-events: none;
    label {
      opacity: 0.3;
    }
  }
}
