:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;

  --black: #292b2d;
  --red: #fc142c;
  --invalid: #fc142c;
  --grey-light: #f0f0f0;
  --hr: #dfdfdf;
  --grey: #999a9b;
  --white: #ffffff;
  --green: #4cb210;
  --orange: #ffa200;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
button,
input,
textarea {
  font-family: var(--regular);
  font-weight: 400;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  user-select: none;
}

button {
  position: relative;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  &:disabled {
    cursor: auto;
    pointer-events: none;
    opacity: 0.3;
  }
}

hr {
  border: none;
  width: 100%;
  display: block;
  height: 1px;
  background: var(--hr);
}

.body {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--black);
  background: var(--white);
  overflow-x: hidden;
  overflow-y: auto;
  &.locked {
    overflow-y: hidden;
  }
}

.custom-scrollbar {
  -webkit-overflow-scrolling: touch;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--grey);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
}
