.Title {
  position: relative;
  display: block;
  width: 100%;
  line-height: 1.1;
  font-size: 30px;
  white-space: pre-line;
  &.Center {
    text-align: center;
  }

  &.Right {
    text-align: right;
  }
  &.Green {
    color: var(--green);
  }

  &.Red {
    color: var(--red);
  }

  &.Orange {
    color: var(--orange);
  }

  &.White {
    color: var(--white);
  }

  &.Black {
    color: var(--black);
  }

  &.Grey {
    opacity: 0.7;
  }

  &.GreyLight {
    opacity: 0.5;
  }
}

.H1,
.H2,
.H3 {
  hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.H4,
.H5,
.H6 {
  line-height: 1.2;
  font-family: var(--medium);
  font-weight: 500;
}

.H1 {
  font-size: 48px;
  letter-spacing: -0.2px;
}
.H2 {
  font-size: 42px;
}
.H3 {
  font-size: 35px;
}
.H4 {
  font-size: 26px;
}
.H5 {
  font-size: 22px;
}
.H6 {
  font-size: 18px;
}

@media (max-width: 1365px) {
  .H3 {
    font-size: 30px;
  }
}

@media (max-width: 1023px) {
  .H3 {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .H1 {
    font-size: 32px;
  }
}
