.Main {
  display: block;
  flex: 1;
  min-height: 100%;
  padding: 20px;
  padding-bottom: 100px;
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
  min-height: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
