.Main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100svh;
  padding: 0px 20px;
  padding-bottom: 50px;
  @media (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 112px;
  }
}
