.Main {
  display: block;
  flex: 1;
  min-height: 100%;
  padding: 0px 20px;
  padding-bottom: 50px;
  @media (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 112px;
  }
}

.Container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
  min-height: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
