.InputSelect {
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;
  &.Open {
    z-index: 2;
  }
  &.Disabled {
    opacity: 0.5;
    pointer-events: none;
    * {
      pointer-events: none;
    }
  }
}

.Button {
  display: flex;
  position: relative;
  width: 100%;
  height: 48px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 0px 48px 0px 20px;
  font-size: 14px;
  text-align: left;
  border: 1px solid var(--grey);
  background: var(--white);
  border-radius: 48px;
  z-index: 2;
  &.Open {
    border: 1px solid var(--orange);
    .Icon {
      transform: rotate(180deg);
    }
  }
  &.Invalid {
    border: 1px solid var(--invalid);
  }
}

.Label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 48px;
  height: 48px;
  position: absolute;
  right: 0px;
  transition: 0.3s;
  transform: rotate(0deg);
}

.Dropdown {
  display: flex;
  position: absolute;
  left: 0px;
  top: calc(100% + 10px);
  width: 100%;
  flex-direction: column;
  z-index: 1;
  background: var(--white);
  color: var(--black);
  padding: 20px 10px 20px 20px;
  border: 1px solid var(--orange);
  border-radius: 24px;
  text-align: left;
  font-size: 14px;
  animation: fadeIn 0.3s;
  li {
    cursor: pointer;
    padding: 4px 0px;
    &:hover {
      opacity: 0.7;
    }
  }
}

.DropdownScrollArea {
  display: block;
  width: 100%;
  height: auto;
  max-height: 152px;
  padding-right: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0px, -14px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
