.ButtonMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  border-radius: 14px;
}
.ButtonMenu p {
  font-size: 16px;
}
@media (hover: hover) {
  .ButtonMenu:hover {
    background-color: var(--grey-light);
  }
  .ButtonMenu:hover .Icon {
    background-color: var(--grey-light);
  }
}
.ButtonMenu.Active .Icon {
  background-color: var(--green);
  color: var(--white);
}
.ButtonMenu.Active .Icon:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(20deg, var(--black), rgba(0, 0, 0, 0));
  z-index: 0;
  opacity: 0.2;
}
.ButtonMenu.Minify {
  width: 40px;
}
.ButtonMenu.Minify p {
  position: absolute;
  left: 100%;
  background: var(--black);
  color: var(--white);
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  pointer-events: none;
  white-space: nowrap;
}
.ButtonMenu.Minify p:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--black);
  left: 0px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
@media (hover: hover) {
  .ButtonMenu.Minify:hover p {
    pointer-events: all;
    opacity: 1;
    -webkit-transform: translate(10px, 0%);
        -ms-transform: translate(10px, 0%);
            transform: translate(10px, 0%);
  }
}

.Icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: var(--grey-light);
  border-radius: 14px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}
.Icon svg {
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  z-index: 2;
}