.ButtonProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10px;
}
.ButtonProfile.Minify {
  width: 40px;
}
.ButtonProfile.Minify .Texts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  left: 100%;
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  pointer-events: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background: var(--black);
  padding: 6px 14px;
  border-radius: 8px;
  opacity: 0;
}
.ButtonProfile.Minify .Texts:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--black);
  left: 0px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.ButtonProfile.Minify .Texts p:first-child {
  font-size: 14px;
  line-height: 1.2;
  color: var(--white);
}
.ButtonProfile.Minify .Texts p:last-child {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
@media (hover: hover) {
  .ButtonProfile.Minify:hover .Texts {
    pointer-events: all;
    opacity: 1;
    -webkit-transform: translate(10px, 0%);
        -ms-transform: translate(10px, 0%);
            transform: translate(10px, 0%);
  }
}

.Texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 4px;
}
.Texts p:first-child {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  line-height: 1;
}
.Texts p:last-child {
  line-height: 1;
}