.Checkbox {
  display: block;
}
.Checkbox.Disabled {
  opacity: 0.5;
}
.Checkbox.Disabled > * {
  pointer-events: none;
}
.Checkbox input {
  display: none;
}
.Checkbox input:checked + .Label:before {
  border: 1px solid var(--green);
  background: var(--green);
}
.Checkbox input:checked + .Label svg {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.Label {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  text-align: left;
  font-size: 12px;
  padding-top: 2px;
}
.Label svg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.Label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid var(--grey);
  background: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.Label a {
  display: inline;
  font-size: 12px;
  color: var(--black);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.Label a:hover {
  color: var(--grey);
}

.Error {
  display: block;
  position: relative;
  width: 100%;
  font-size: 10px;
  color: var(--invalid);
  text-align: left;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
  margin-top: 5px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}