.LanguageSwitcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 6px 14px 6px 6px;
  background: var(--grey-light);
  border-radius: 14px;
  font-size: 15px;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 4;
}
.LanguageSwitcher .Arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: auto;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.LanguageSwitcher .Arrow.Open {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.LanguageSwitcher .Arrow svg {
  width: 100%;
  height: 100%;
}
.LanguageSwitcher.Minify {
  width: 40px;
  padding: 6px 6px 6px 6px;
}
.LanguageSwitcher.Minify .Arrow {
  display: none;
}
.LanguageSwitcher.Minify .Select span {
  position: absolute;
  left: 100%;
  background: var(--black);
  color: var(--white);
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0;
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  pointer-events: none;
}
.LanguageSwitcher.Minify .Select span:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--black);
  left: 0px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
@media (hover: hover) {
  .LanguageSwitcher.Minify .Select:hover span {
    pointer-events: all;
    opacity: 1;
    -webkit-transform: translate(10px, 0%);
        -ms-transform: translate(10px, 0%);
            transform: translate(10px, 0%);
  }
}

.Select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10px;
  z-index: 3;
}
.Select svg {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  left: 0px;
  top: calc(100% - 20px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  padding: 30px 6px 10px 6px;
  background: var(--grey-light);
  border-radius: 0px 0px 16px 16px;
  z-index: 2;
}
.List .Select span {
  opacity: 0.7;
}
.List .Select:hover span {
  opacity: 1;
}