.Backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(222, 222, 222, 0.5);
  backdrop-filter: blur(3px);
  z-index: 9999;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
  padding: 20px;
}
.Backdrop.Open {
  opacity: 1;
  -webkit-animation: fadeIn 0.4s;
          animation: fadeIn 0.4s;
}

.Popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  background: var(--white);
  border-radius: 30px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  max-width: 290px;
  overflow: hidden;
  padding: 40px 20px 20px 20px;
  z-index: 2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  margin: auto;
}
.Popup.Open {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-animation: popupSlideIn 0.4s;
          animation: popupSlideIn 0.4s;
}

.PopupClose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  font-size: 0;
  cursor: pointer;
  background: none;
  position: absolute;
  right: 16px;
  top: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 3;
}
.PopupClose:hover, .PopupClose:focus {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes popupSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes popupSlideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}