.Text {
  display: block;
  width: 100%;
  color: var(--black);
  font-family: var(--regular);
  line-height: 1.4;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  white-space: pre-line;
}
.Text.Light {
  font-family: var(--light);
  font-weight: 300;
}
.Text.Small {
  font-size: 14px;
}
.Text.Subtitle {
  font-size: 15px;
}
.Text.Big {
  font-size: 24px;
}
.Text.Green {
  color: var(--green);
}
.Text.Red {
  color: var(--red);
}
.Text.Orange {
  color: var(--orange);
}
.Text.White {
  color: var(--white);
}
.Text.Black {
  color: var(--black);
}
.Text.Grey {
  opacity: 0.7;
}
.Text.GreyLight {
  opacity: 0.5;
}
.Text.Center {
  text-align: center;
}
.Text.Right {
  text-align: right;
}
.Text.Clickable {
  display: inline-block;
  width: auto;
  text-decoration: underline;
  cursor: pointer;
}