.Avatar {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40px;
  height: 40px;
  border-radius: 16px;
  overflow: hidden;
  z-index: 1;
  background: var(--red);
  flex-shrink: 0;
  &.WithImage {
    background: var(--grey-light);
  }
  span {
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
  }
  &.small {
    width: 28px;
    height: 28px;
    span {
      font-size: 12px;
    }
  }
  &.big {
    width: 100px;
    height: 100px;
    span {
      font-size: 34px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transition: 0.3s;
  }
  &.Loading {
    img {
      opacity: 0.3;
    }
    &:before {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      border-radius: 100px;
      border-left: 2px solid var(--white);
      border-top: 2px solid var(--white);
      border-right: 2px solid rgba(0, 0, 0, 0);
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      animation: rotate 0.3s linear infinite;
      z-index: 2;
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
