.Header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: sticky;
  width: 280px;
  height: auto;
  min-height: 100dvh;
  left: 0px;
  top: 0px;
  z-index: 8888;
  background: var(--white);
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.05);
  border-right: 1px solid var(--hr);
  transition: width 0.3s;
  overflow: hidden;
}

@media (min-width: 768px) {
  html[data-sidebar='min'] .Header {
    width: 70px;
    overflow: visible;
  }

  html[data-sidebar='min'] .Header .SideButton {
    transform: translate(0%, 0%);
  }

  html[data-sidebar='min'] .Header .Logo {
    transform: translate(-130%, 0%);
  }

  html[data-sidebar='min'] .Header .Inner {
    min-width: 69px;
  }

  html[data-sidebar='min'] .Header .Inner.Btn {
    display: flex;
    justify-content: center;
    min-height: 69px;
    max-height: 69px;
  }
}

.Inner {
  display: block;
  width: 100%;
  min-width: 279px;
  padding: 14px;
  @media (min-width: 768px) {
    &.Bt {
      border-top: 1px solid var(--hr);
    }
    &.Bb {
      border-bottom: 1px solid var(--hr);
    }
    &.Btn {
      max-height: 69px;
      min-height: 69px;
    }
  }
}

.Logo {
  display: inline-flex;
  width: auto;
  position: absolute;
  left: 14px;
  overflow: hidden;
  justify-content: center;
  gap: 4px;
  height: 40px;
  transition: transform 0.3s;
  transform: translate(0%, 0%);
  svg {
    width: 46px;
    flex-shrink: 0;
  }

  p {
    font-size: 36px;
    line-height: 34px;
    letter-spacing: -0.04em;
  }
}

.ProfileButtons {
  display: block;
  position: relative;
  width: 100%;
  margin-top: auto;
}

.SideButton {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
  min-width: 69px;
  padding: 20px;
  height: 68px;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--black);
  transition: color 0.3s;
  transform: translate(0%, 0%);
  @media (hover: hover) {
    &:hover {
      color: var(--orange);
    }
  }
  @media (max-width: 767px) {
    display: none;
  }
}

@media (max-width: 1279px) {
  .Header {
    width: 220px;
  }

  .Inner {
    min-width: 219px;
  }
}

@media (max-width: 767px) {
  .Header {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    min-height: 60px;
    background: var(--white);
    box-shadow: none;
    border-right: none;
    overflow: visible;
    gap: 10px;
    padding: 0px 20px;

    &:after {
      content: '';
      width: calc(100% - 40px);
      height: 1px;
      background: var(--black);
      display: block;
      position: absolute;
      left: 20px;
      bottom: 0px;
    }
  }

  .Logo {
    position: relative;
    left: 0px;
    height: 34px;
  }

  .Inner {
    display: inline-block;
    width: auto;
    min-width: 0px;
    padding: 0px;
    &:first-child {
      margin-right: auto;
    }
    &.Nav {
      display: flex;
      position: fixed;
      left: 0px;
      bottom: 0px;
      width: 100%;
      height: 112px;
      padding: 20px;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 55%);
      pointer-events: none;
    }
  }

  .ProfileButtons {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 10px;
    position: relative;
    width: auto;
    margin-top: 0px;
  }
}
