.Message {
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;

  a,
  button {
    max-width: 220px;
  }

  &.Small {
    max-width: 320px;
    margin: 0 auto;
    a,
    button {
      max-width: 100%;
    }

    fieldset {
      margin: 10px 0px 20px 0px;
    }
  }
}
