.Message {
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 14px;
  padding: 20px 0px;

  @media (max-width: 767px) {
    padding-bottom: 120px;
  }

  a,
  button {
    max-width: 220px;
    margin-top: 10px;
  }

  &.Small {
    max-width: 320px;
    margin: 0 auto;
    a,
    button {
      max-width: 100%;
    }

    fieldset {
      margin: 10px 0px 20px 0px;
    }
  }
}
