.LanguageSwitcher {
  display: flex;
  width: 100%;
  padding: 6px 14px 6px 6px;
  background: var(--grey-light);
  border-radius: 16px;
  font-size: 15px;
  cursor: pointer;
  pointer-events: all;
  position: relative;

  .Arrow {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    width: 11px;
    height: 6px;
    transform: rotate(0deg);
    transition: 0.3s;
    &.Open {
      transform: rotate(180deg);
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.Select {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
  z-index: 3;
}

.List {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0px;
  top: calc(100% - 20px);
  flex-direction: column;
  gap: 10px;
  padding: 30px 6px 10px 6px;
  background: var(--grey-light);
  border-radius: 0px 0px 16px 16px;
  z-index: 2;
  .Select {
    span {
      opacity: 0.7;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}
