.LanguageSwitcher {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 6px 14px 6px 6px;
  background: var(--grey-light);
  border-radius: 14px;
  font-size: 15px;
  cursor: pointer;
  pointer-events: all;
  position: relative;
  z-index: 4;

  .Arrow {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto;
    width: 14px;
    height: 14px;
    transform: rotate(0deg);
    transition: 0.3s;
    &.Open {
      transform: rotate(180deg);
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.Minify {
    width: 40px;
    padding: 6px 6px 6px 6px;
    .Arrow {
      display: none;
    }
    .Select {
      span {
        position: absolute;
        left: 100%;
        background: var(--black);
        color: var(--white);
        padding: 6px 14px;
        border-radius: 8px;
        font-size: 14px;
        opacity: 0;
        transform: translate(0%, 0%);
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;

        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          background: var(--black);
          left: 0px;
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
      @media (hover: hover) {
        &:hover {
          span {
            pointer-events: all;
            opacity: 1;
            transform: translate(10px, 0%);
          }
        }
      }
    }
  }
}

.Select {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
  z-index: 3;
  svg {
    flex-shrink: 0;
  }
}

.List {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0px;
  top: calc(100% - 20px);
  flex-direction: column;
  gap: 14px;
  padding: 30px 6px 10px 6px;
  background: var(--grey-light);
  border-radius: 0px 0px 16px 16px;
  z-index: 2;
  .Select {
    span {
      opacity: 0.7;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}
