.LanguageSwitcher {
  display: flex;
  min-width: 160px;
  padding: 6px 10px 6px 6px;
  background: var(--grey-light);
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
  pointer-events: all;
  position: absolute;
  left: 50px;
  top: 110px;

  .Arrow {
    margin-left: auto;
  }
}

.Select {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
  z-index: 3;
}

.List {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0px;
  top: calc(100% - 10px);
  flex-direction: column;
  gap: 10px;
  padding: 20px 6px;
  background: var(--grey-light);
  border-radius: 0px 0px 16px 16px;
  z-index: 2;
  .Select {
    span {
      opacity: 0.7;
    }
    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}
