.Label {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.LabelText {
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: left;
}

.InputWrapper {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.InputIcon {
  position: absolute;
  right: 0px;
}

.Error {
  display: block;
  position: relative;
  width: 100%;
  font-size: 10px;
  color: var(--invalid);
  text-align: left;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(5px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
