.Backdrop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(222, 222, 222, 0.5);
  backdrop-filter: blur(3px);
  z-index: 9999;
  transition: 0.4s;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
  padding: 20px;
  &.Open {
    opacity: 1;
    animation: fadeIn 0.4s;
  }
}

.Popup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  background: var(--white);
  border-radius: 30px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  max-width: 290px;
  overflow: hidden;
  padding: 40px 20px 20px 20px;
  z-index: 2;
  transition: 0.4s;
  opacity: 0;
  transform: translateY(20px);
  margin: auto;
  &.Open {
    opacity: 1;
    transform: translateY(0px);
    animation: popupSlideIn 0.4s;
  }
}

.PopupClose {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  font-size: 0;
  cursor: pointer;
  background: none;
  position: absolute;
  right: 16px;
  top: 16px;
  transition: 0.3s;
  transform: rotate(0deg);
  z-index: 3;
  &:hover,
  &:focus {
    transform: rotate(90deg);
  }
}

// Анимации
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popupSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
