.ButtonLogin {
  display: inline-flex;
  width: auto;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 14px;

  svg {
    width: 24px;
    height: 24px;
  }

  span {
    transition: 0.2s;
    font-size: 18px;
  }

  &:hover,
  &:focus {
    span {
      color: var(--green);
    }
  }
}
