.ButtonMenu {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
  border-radius: 14px;

  p {
    font-size: 16px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--grey-light);
      .Icon {
        background-color: var(--grey-light);
      }
    }
  }

  &.Active {
    .Icon {
      background-color: var(--green);
      color: var(--white);
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: linear-gradient(20deg, var(--black), rgba(0, 0, 0, 0));
        z-index: 0;
        opacity: 0.2;
      }
    }
  }

  @media (min-width: 768px) {
    &.Minify {
      width: 40px;
      p {
        position: absolute;
        left: 100%;
        background: var(--black);
        color: var(--white);
        padding: 6px 14px;
        border-radius: 8px;
        font-size: 14px;
        opacity: 0;
        transform: translate(0%, 0%);
        transition:
          transform 0.3s,
          opacity 0.3s;
        pointer-events: none;
        white-space: nowrap;

        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          background: var(--black);
          left: 0px;
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
      @media (hover: hover) {
        &:hover {
          p {
            pointer-events: all;
            opacity: 1;
            transform: translate(10px, 0%);
          }
        }
      }
    }
  }
}

.Icon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--grey-light);
  border-radius: 14px;
  transition:
    background-color 0.3s,
    color 0.3s;

  svg {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 1279px) {
  .ButtonMenu {
    p {
      font-size: 13px;
    }
  }
}

@media (max-width: 767px) {
  .ButtonMenu {
    display: inline-flex;
    width: auto;
    justify-content: center;
    gap: 0px;
    p {
      display: none;
    }
  }
}
