.Navigation {
  display: flex;
  position: relative;
  width: 100%;
  pointer-events: all;

  menu {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    gap: 14px;
    li {
      width: 100%;
    }
  }
}
