.Navigation {
  display: flex;
  position: relative;
  width: 100%;
  pointer-events: all;

  menu {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid var(--hr);
    padding-top: 16px;
    li {
      width: 100%;
      a,
      button {
        display: flex;
        position: relative;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        gap: 14px;
        padding: 12px 0px;
        user-select: none;

        &:hover {
          .Text {
            color: var(--green);
          }
        }
      }

      &.Logout {
        margin-top: auto;
        .Icon {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

.Icon {
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: color 0.2s ease-in-out 0s;
  svg {
    width: 100%;
    height: 100%;
    stroke: currentColor;
  }
}

.Text {
  font-size: 18px;
  transition: color 0.2s ease-in-out 0s;
}
