.ButtonProfile {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;

  &.Minify {
    width: 40px;
    .Texts {
      display: inline-flex;
      position: absolute;
      left: 100%;
      transform: translate(0%, 0%);
      transition: transform 0.3s, opacity 0.3s;
      pointer-events: none;
      flex-direction: column;
      justify-content: center;
      flex: none;
      background: var(--black);
      padding: 6px 14px;
      border-radius: 8px;
      opacity: 0;
      &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background: var(--black);
        left: 0px;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      p {
        &:first-child {
          font-size: 14px;
          line-height: 1.2;
          color: var(--white);
        }
        &:last-child {
          font-size: 10px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
    @media (hover: hover) {
      &:hover {
        .Texts {
          pointer-events: all;
          opacity: 1;
          transform: translate(10px, 0%);
        }
      }
    }
  }
}

.Texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 4px;
  // transition: 0s ease 0.3s;
  p {
    &:first-child {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: 0.2s;
      line-height: 1;
    }
    &:last-child {
      line-height: 1;
    }
  }
}
