.ButtonProfile {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.Texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 4px;
  p {
    &:first-child {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: 0.2s;
      line-height: 1;
    }
    &:last-child {
      line-height: 1;
    }
  }
}
