.ButtonMenu {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s;
  border-radius: 14px;

  p {
    font-size: 16px;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--grey-light);
      .Icon {
        background-color: var(--grey-light);
      }
    }
  }

  &.Active {
    .Icon {
      background-color: var(--green);
      color: var(--white);
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: linear-gradient(20deg, var(--black), rgba(0, 0, 0, 0));
        z-index: 0;
        opacity: 0.2;
      }
    }
  }
}

.Icon {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--grey-light);
  border-radius: 14px;
  transition: background-color 0.3s, color 0.3s;

  svg {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    z-index: 2;
  }
}
